$('.login-modal').html('#{ j render "devise/sessions/form", resource: @user }');

if (!$('#sessions-modal').find('.flash').length) {
$('#sessions-modal').modal('hide')
}
$('.header').html("#{ j render "layouts/header" }");