/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.border-body {
  border: 1px solid #C5C9CD;
  border-radius: 5px;
  padding: 10px;
}

.border-simple {
  border: 1px solid #C5C9CD;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar-profile {
  border-radius: 5px;
}

aside {
  float:right;
  padding: 10px;
}

footer {
  float:bottom;
}

.main-image {
  height: 125px;
  width: 250px;
  border-right: 1px solid #C5C9CD;
  padding-right: 5px;
}

.item-image-big {
  height: 400px;
  width: 800px;
}

.profile-ad-image {
  height: 150px;
  width: 200px;
  vertical-align: middle;
}

.adv, .profile-ad {
  color: black;
  text-decoration: none;
}

.item-title {
  font-weight: bold;
}

.item-city {
  float: bottom;
  bottom: 0;
}

.item-updated {
  color: gray;
}

.user-registered {
  color: gray;
  font-size: small;
}